$color-blue:#5267df;
$color-red:#fa5959;
$color-dodger-blue:#242a45;
$color-dodger-blue_opacity:rgba(36, 42, 69, 0.95);
$color-grey:#9194a2;
$color-grey-near-blue:#5B6074;
$color-grey-near-white:#f7f7f7;


$font-family: "Rubik", "Arial", sans-serif;