.extension{
    padding-top: 100px;
    padding-bottom: 100px;
}

.extension-header{
    max-width: 590px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 48px;
    text-align: center;
}
.extension-title{
    margin-top: 0;
    margin-bottom: 16px;
}
.extenjsion-paragraph{
    margin-top: 0;
    margin-bottom: 0;
}