.faq{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

.faq-text{
    max-width: 570px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;
}

.faq-text__title{
    margin-top: 0;
    margin-bottom: 16px;
}
.faq-text__paragraph{
    margin-top: 0;
    margin-bottom: 0;
}

.more-info__container{
    text-align: center;
}

@include breakpoint-down(500px){
    .more-info__container{
        .button{
            display: block;
        }
    }
}