.features-content{
    padding-top: 80px;
    padding-bottom: 90px;
}

.features-content__container{
    max-width: 540px;
    text-align: center;
}

.features-content__container-title{
    margin-top: 0;
    margin-bottom: 16px;
}

.features-content__container-paragraph{
    margin-top: 0;
    margin-bottom: 70px;
}

.site-title{
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
}