.nav-wrapper{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $color-dodger-blue;
}

.footer-logo{
    display: inline-block;
    margin-right: 60px;
}


.footer-nav{
    display: flex;
    align-items: center
}
.footer-nav__list{
    @include list-unstyled;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.footer-nav__item{
    margin-right: 48px;
}

.footer-nav__link{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    line-height: 17px;
    text-transform: uppercase;
    transition: color 0.3s ease;

    &:hover{
        color: $color-red;
    }
}

.social-facebook{
    margin-right: 40px;
}

.socials a svg:hover path{
    fill: $color-red;
}

@include breakpoint-down(700px){
    .footer-nav{
        flex-direction: column;
    }

    .footer-logo{
        margin-bottom: 45px;
        margin-right: 0;
    }
    .footer-nav__list{
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 50px;
    }

    .footer-nav__item{
        margin-right: 0;
        &:not(:last-child){
            margin-bottom: 32px;
        }
    }
}