.site-header{
    padding-top: 50px;
    padding-bottom: 50px;
}

.site-header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@include breakpoint-down(750px){
    .site-header__container{
        @include flex-column;
    }
}